docs/draw.io/*
application/my-nokari-app/node_modules/*
application/my-nokari-app/dist/*
application/my-nokari-app/build/*
application/my-nokari-app/.idea/*
application/my-nokari-app/.vscode/*
application/my-nokari-app/.DS_Store
